<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!--加载属性配置文件-->
    <context:property-placeholder location="classpath:*.properties"/>

    <!--通用配置-->
    <!--配置ActiveMQ连接工厂-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${brokerURL}"/>
    </bean>

    <!--配置Spring-JMS的单例连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <!--设置Active MQ连接工厂交给它管理-->
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--=========================配置消息消费者======================-->
    <!--配置消息监听器容器-->
    <jms:listener-container connection-factory="connectionFactory" concurrency="1" destination-type="queue">
        <!--配置监听器,给队列，引用消息监听器-->
        <jms:listener destination="solr.queue" ref="itemMessageListener"/>
        <jms:listener destination="solr.delete.queue" ref="deleteMessageListener"/>
    </jms:listener-container>


    <!--配置消息监听器Bean-->
    <bean id="itemMessageListener" class="com.pinyougou.search.listener.ItemMessageListener"/>
    <bean id="deleteMessageListener" class="com.pinyougou.search.listener.DeleteMessageListener"/>
</beans>