<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <!--配置加载配置文件-->
    <context:property-placeholder location="classpath*:props/*.properties"/>

    <!--导入redis配置文件-->
    <import resource="classpath:applicationContext-redis.xml"/>
    <!--导入数据访问配置文件-->
    <import resource="classpath:applicationContext-mapper.xml"/>

    <!--==============配置dubbo服务提供者=================-->
    <!--配置当前应用名-->
    <dubbo:application name="pinyougou-cart-service"/>

    <!--配置zookeeper作为注册中心，注册服务-->
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>

    <!--配置dubbo协议在20885端口暴露服务-->
    <dubbo:protocol name="dubbo" port="20885"/>

    <!--配置包扫描方式暴露服务-->
    <dubbo:annotation package="com.pinyougou.cart.service.impl"/>


</beans>