<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--配置请求url拦截规则-->
    <!--配置不需要拦截的请求url-->
    <security:http pattern="/*.html" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <!--注册商家的url-->
    <security:http pattern="/seller/save" security="none"/>

    <!--配置需要拦截的请求url-->
    <security:http>
        <!--配置需要角色才能访问的url-->
        <security:intercept-url pattern="/**" access="hasRole('SELLER')" />
        <!--配置开启表单登陆-->
        <security:form-login login-page="/shoplogin.html"
                             username-parameter="username" password-parameter="password"
                             default-target-url="/admin/index.html" always-use-default-target="true"
                             authentication-failure-url="/shoplogin.html"/>

        <!--关闭跨站点请求伪造-->
        <security:csrf disabled="true"/>
        <!--配置头信息，指定框架页策略（iframe也可以访问）-->
        <security:headers>
            <!--配置同域名下访问-->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!--注销-->
        <security:logout logout-url="/logout" invalidate-session="true"/>
    </security:http>

    <!--配置加密对象-->
    <bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>


    <!--配置认证管理器-->
    <security:authentication-manager>
        <!--配置认证提供者-->
        <security:authentication-provider user-service-ref="userDetailsService">
            <!--设置加密方式-->
            <security:password-encoder ref="bcryptEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>


    <!--====================     配置dubbo服务消费者         ===============================-->
    <!--消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一致-->
    <dubbo:application name="pinyougou-shop-web"/>

    <!-- 使用zookeeper注册中心暴露发现服务地址 -->
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>

    <!--不使用包扫描，配置引用单个服务-->
    <dubbo:reference id="sellerService" interface="com.pinyougou.service.SellerService"/>



    <!--配置自定义认证服务-->
    <bean id="userDetailsService" class="com.pinyougou.shop.service.UserDetailsServiceImpl">
        <property name="sellerService" ref="sellerService"/>
    </bean>


</beans>