<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--加载属性配置文件-->
    <context:property-placeholder location="classpath*:props/*.properties"/>



    <!--================配置dubbo服务提供者=======================-->
    <!--配置当前应用名-->
    <dubbo:application name="pinyougou-pay-service"/>

    <!--配置使用zookeeper作为注册中心，注册服务地址-->
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>

    <!--使用dubbo协议在20884端口暴露服务-->
    <dubbo:protocol name="dubbo" port="20887"/>

    <!--使用包扫描的方式来暴露服务-->
    <dubbo:annotation package="com.pinyougou.pay.service.impl"/>

</beans>