<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!--配置Spring加载文件-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>

	<!--配置spring的核心监听器，一启动web容器就加载spring容器-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--配置SpringSecurity委派过滤器-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>














	<!--配置前端控制器-->
	<servlet>
		<servlet-name>pinyougou</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!--加载SpringMVC-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>

		<!--启动就加载前端控制器-->
		<load-on-startup>1</load-on-startup>
		
	</servlet>

	<!--配置拦截规则-->
	<servlet-mapping>
		<servlet-name>pinyougou</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--配置全局编码过滤器-->
	<filter>
		<filter-name>characterEncodingFiler</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!--配置过滤规则-->
	<servlet-mapping>
		<servlet-name>pinyougou</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!--欢迎列表-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>